@mixin center_top_block()
	top: 50%
	transform: translate(0, -50%)

@mixin center_left_block()
	left: 50%
	transform: translate(-50%)

.CoreBg
	position: relative
	width: 100%
	background: black

.Core
	position: relative
	@include center_left_block()
	width: 1200px
	height: 1000px
	color: white
	::selection 
		background: white
		color: black
	>
		img
			position: absolute
			@include center_left_block()
			width: 40px
			bottom: 50px
			filter: invert(1)
			&:hover
				transform: translate(-50%, 25%)
.CoreText
	position: absolute
	width: 500px
	left: 700px
	text-align: justify
	@include center_top_block()
	p
		margin-bottom: 50px
		margin-top: 50px
	a
		color: white
	a:hover
		text-decoration: none
		color: #8D41D6

#Video
	box-shadow: 0 0 50px rgba(255, 255, 255, 0.75)

#Video_div
	left: 0